{% extends 'moviepoll/base.html' %}
{% block content %}
    <div class="border rounded">
        <p> <br /> <b>{{ question.question_text }}</b></p> <hr />

        {% if error_message %}<p class="text-danger">{{ error_message }}</p>{% endif %}

        <form action="{% url 'vote' question.id %}" method="post">
            {% csrf_token %}
            <div class="text-left" style="padding-left: 20px;">
                {% for choice in question.choice_set.all %}

                    <label class="checkboxLabel" for="choice{{ forloop.counter }}">{{ choice.choice_text }}
                        <input  type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
                    <span class="checkmark"></span>
                    </label>
                {% endfor %}
            </div>
            <input class="btn btn-outline-primary" type="submit" value="Vote"/>
        </form>
    <br />
    </div>
{% endblock %}
