{% extends 'moviepoll/base.html' %}
{% block content %}
        {% if latest_question_list %}
            <p> <br /> <b>Choose a Movie Friday to vote </b> </p>
            <hr />
            <ul class="list-unstyled">
                {% for question in latest_question_list %}
                    <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <h2> No Movie Friday are available. </h2>
        {% endif %}
{% endblock %}
