{% extends 'moviepoll/base.html' %}
{% block content %}
    <br/>
    <p class="font-weight-bold">{{ question.question_text }}</p>
    <hr/>

    <ul class="list-unstyled">
        {% for choice in question.choice_set.all %}
            <li>
                <div class="container row text-left">
                    <span class="col-6">{{ choice.choice_text }}</span>
                    <span class="font-italic col-6 text-right">{{ choice.votes }} vote{{ choice.votes|pluralize }}</span>

                </div>
                <div class="container">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"
                             style="width: {% widthratio choice.votes total 100 %}%"></div>
                    </div>
                </div>

            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'detail' question.id %}">Vote again?</a><br/><br/>
{% endblock %}
